
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background-color: #E7DED5;
}
.menu{
    color: black;
    font-size: 16px;
    margin-top: 25px;
    margin-right: 50px;
    padding-right: 10px;
    text-decoration: none;
}
.menu-cabecalho{
    display: flex;
    text-align: center;
    justify-content: end;
    background-color: #BFB3A5 ;
    height: 60px;
}
.casa-menu{
    margin-top: 15px;
}
.rodape{
    font-size: 15px;
    text-align: center;
    padding-top: 4px;
    
}
.rodape-faixa{
    background-color:#BFB3A5 ;
    font-size: 15px;
    align-items: center;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
.rodape-faixa1{
    display: flex;
    background-color: #BFB3A5;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.rodape-logo{
width: 70px;

}
.rodape-icon{
    width: 20px;
}
.foto1{
    margin-top: 20px;
    margin-left: 77px;
}
.texto-foto1{
    font-size: 11px;
    margin-left: 107px;
    margin-top: 18px;
    color: #080808;
}
.info{
    display: flex;
    justify-content: flex-start;
}
.titulo{
    margin-top: 80px;
    padding-left: 200px;
    font-size: 64px;
}
.sub{
    font-size: 24px;
    font-family: "DM Serif Text", serif;
    color: #848281;
}
.conf{
    margin-top: 63px;
    margin-bottom: 126px;
}
.fundo{
    background-color: white;
    margin-top: 126px;
    margin-bottom: 126px;
    height: 350px;
}
.titulo-geral{
    font-size: 45px;
    text-align: center;
    padding-top: 50px;
}
.texto-feed{
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding-top: 40px;
    font-family: "DM Serif Text", serif;
    font-size: 20px;
}
.nome-feed{
    margin-top: 50px;
}
.foto-aspas{
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding-top: 40px;
    font-family: "DM Serif Text", serif;
    font-size: 20px;
    justify-items: center;
    justify-content: center;
    margin-left: 900px;
}
.redes{
    margin-bottom: 126px;
    padding-left: 80px;
    padding-right: 80px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color:  #BFB3A5; 
  border-radius: 50%;
  padding: 10px;
}
.btn-color{
    background-color: #BFB3A5 ;
    color: #080808;
    margin-top: 10px;
    border-radius: 0 !important;
}


