.aviso{
    text-align: center;
    align-items: center;
    font-size: 25px;
    margin-top: 250x;
}
.sub-promo{
    font-size: 25px;
    color: #848281;
    margin-top: 2px;
    text-align: center;
}
.redes-sociais{
    margin-top: 90px;
}